flows_raspberrypi.json
[
    {
        "id": "46529fa5.9f2f08",
        "type": "tab",
        "label": "SETUP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96db35a6.7b3d08",
        "type": "tab",
        "label": "LSM9DS1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b63c03a.9ee408",
        "type": "tab",
        "label": "MPU6050",
        "disabled": false,
        "info": ""
    },
    {
        "id": "760a8eba.ea5df8",
        "type": "tab",
        "label": "DRAFT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abd1a415.9ed76",
        "type": "subflow",
        "name": "str2num",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "cc3a2158.aee3a8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 80,
                "wires": [
                    {
                        "id": "cc3a2158.aee3a8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "input-payload-property",
                "type": "str",
                "value": "payload"
            },
            {
                "name": "output-payload-property",
                "type": "str",
                "value": "payload"
            }
        ],
        "color": "#DEBD5C",
        "inputLabels": [
            "string"
        ],
        "outputLabels": [
            "decimal"
        ],
        "icon": "node-red-dashboard/ui_numeric.png"
    },
    {
        "id": "7aaeacc5.f1858c",
        "type": "subflow",
        "name": "choose",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 100,
                "wires": [
                    {
                        "id": "916dd7a7.b1afa8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "916dd7a7.b1afa8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "input-prop",
                "type": "str",
                "value": "topic"
            },
            {
                "name": "output-prop",
                "type": "str",
                "value": "command"
            },
            {
                "name": "values",
                "type": "json",
                "value": "{\"EXAMPLE_KEY\":\"example-value\"}"
            }
        ],
        "color": "#DEBD5C",
        "icon": "font-awesome/fa-list"
    },
    {
        "id": "a93591e4.a2ad88",
        "type": "subflow",
        "name": "set LSM9DS1 registers",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 80,
                "wires": [
                    {
                        "id": "5453dfb0.4cd1b8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 80,
                "wires": [
                    {
                        "id": "11b8d412.1ce734",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "address",
                "type": "str",
                "value": "0x6b"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "fcc2c371.8288b8",
        "type": "subflow",
        "name": "read register",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "226135b7.a3367a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 280,
                "wires": [
                    {
                        "id": "367930b8.f77ae",
                        "port": 0
                    },
                    {
                        "id": "ffbaeaeb.1137e8",
                        "port": 0
                    },
                    {
                        "id": "3ff1a609.8313f2",
                        "port": 0
                    },
                    {
                        "id": "135cb102.2806ef",
                        "port": 0
                    },
                    {
                        "id": "82588df1.0d0598",
                        "port": 0
                    },
                    {
                        "id": "ebaf90ce.cc69b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "address",
                "type": "str",
                "value": "0x6b"
            }
        ],
        "color": "#DDAA99",
        "icon": "font-awesome/fa-microchip"
    },
    {
        "id": "192a6f2d.1a1be1",
        "type": "subflow",
        "name": "read xyz",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "aecf2739.87f948"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 80,
                "wires": [
                    {
                        "id": "1092c7d0.5e31a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "k",
                "type": "num",
                "value": "1"
            }
        ],
        "color": "#DDAA99",
        "icon": "font-awesome/fa-location-arrow"
    },
    {
        "id": "f81b335d.1522c8",
        "type": "subflow",
        "name": "Read Accel.",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "a7850002.47cba8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 40,
                "wires": [
                    {
                        "id": "c8343eee.1dcf6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "cacc0328.73dd18",
        "type": "subflow",
        "name": "Set Rotation Matrix",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 120,
                "wires": [
                    {
                        "id": "9825df7c.5695d8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1860,
                "y": 920,
                "wires": [
                    {
                        "id": "c7f63ced.1ff078",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1800,
                "y": 200,
                "wires": [
                    {
                        "id": "edfb9443.93de78",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1800,
                "y": 260,
                "wires": [
                    {
                        "id": "7ecb5232.5fddac",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1800,
                "y": 320,
                "wires": [
                    {
                        "id": "201b5dbb.b67e2a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#E6E0F8",
        "outputLabels": [
            "R matrix",
            "X vector",
            "Y vector",
            "Z vector"
        ],
        "icon": "font-awesome/fa-arrows"
    },
    {
        "id": "62f0c87d.299df",
        "type": "subflow",
        "name": "Read Gyro",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "bc6ff645.639a2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 40,
                "wires": [
                    {
                        "id": "915d48d1.df2298",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "icon": "font-awesome/fa-rotate-right"
    },
    {
        "id": "b0f0518d.0763d",
        "type": "subflow",
        "name": "Read Compass",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "8c5181a6.91fa1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1120,
                "y": 40,
                "wires": [
                    {
                        "id": "6941700.f3fd69",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "icon": "font-awesome/fa-compass"
    },
    {
        "id": "ccb45398.47508",
        "type": "group",
        "z": "46529fa5.9f2f08",
        "name": "Setup",
        "style": {
            "stroke": "#9363b7",
            "label": true,
            "label-position": "se",
            "color": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.3"
        },
        "nodes": [
            "f7779363.a43d48",
            "67201c52.d110f4",
            "b36047f.99d6038",
            "c7c91484.e33a08",
            "d401116f.08f3f8",
            "4b741266.1bc924",
            "63e1a520.88a5bc",
            "e8d0fc5a.9bfc08",
            "b6966e25.c909c8"
        ],
        "x": 34,
        "y": 59,
        "w": 1052,
        "h": 285
    },
    {
        "id": "ed3500fd.720128",
        "type": "group",
        "z": "46529fa5.9f2f08",
        "name": "Read Sensors",
        "style": {
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "fill-opacity": "0.3",
            "label": true,
            "label-position": "se",
            "color": "#0070c0"
        },
        "nodes": [
            "c6f4e1b.c4812a",
            "402e82f.f7fa67c",
            "e8d67be2.4d7f38",
            "fae7d1a.14a28b",
            "b9877a8.9f95a88",
            "b82cf081.6cef2",
            "c9fe3ae9.5de568",
            "8d8258f1.76449",
            "c846f185.0967d"
        ],
        "x": 34,
        "y": 419,
        "w": 1052,
        "h": 210
    },
    {
        "id": "a3ff9dba.19ebd",
        "type": "ui_tab",
        "name": "Gyro Setup",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "15c73bda.21351c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ac41f4c8.1ded7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "64ca67ed.9ded88",
        "type": "ui_group",
        "name": "Default",
        "tab": "ac41f4c8.1ded7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cf4be28.7e7b",
        "type": "debug",
        "z": "2b63c03a.9ee408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "172088d2.b526d7",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "read",
        "payloadType": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "88661fb5.0be978"
            ]
        ]
    },
    {
        "id": "88661fb5.0be978",
        "type": "i2c scan",
        "z": "2b63c03a.9ee408",
        "name": "",
        "busno": "1",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "5cf4be28.7e7b"
            ],
            []
        ]
    },
    {
        "id": "4699e1f5.bad6a",
        "type": "catch",
        "z": "2b63c03a.9ee408",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "629cc9e6.67d86"
            ]
        ]
    },
    {
        "id": "629cc9e6.67d86",
        "type": "debug",
        "z": "2b63c03a.9ee408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "25171d3.4883462",
        "type": "i2c in",
        "z": "2b63c03a.9ee408",
        "name": "",
        "busno": "1",
        "address": "104",
        "command": "67",
        "count": "6",
        "x": 440,
        "y": 520,
        "wires": [
            [
                "27a16fbb.7bd5"
            ]
        ]
    },
    {
        "id": "27a16fbb.7bd5",
        "type": "debug",
        "z": "2b63c03a.9ee408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "22a5cfbd.426028",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "read",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "25171d3.4883462"
            ]
        ]
    },
    {
        "id": "a8ba9d31.9d0298",
        "type": "i2c out",
        "z": "2b63c03a.9ee408",
        "name": "",
        "busno": "1",
        "address": "",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "1",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "886ece6.8b577b"
            ]
        ]
    },
    {
        "id": "27b72544.bf84ea",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "PWR_MGMT_1",
        "props": [
            {
                "p": "address",
                "v": "104",
                "vt": "num"
            },
            {
                "p": "command",
                "v": "107",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "a8ba9d31.9d0298"
            ]
        ]
    },
    {
        "id": "9fb8b444.8d2708",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "SMPLRT_DIV",
        "props": [
            {
                "p": "address",
                "v": "104",
                "vt": "num"
            },
            {
                "p": "command",
                "v": "25",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "str",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "a8ba9d31.9d0298"
            ]
        ]
    },
    {
        "id": "32c830.ee9397d",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "CONFIG",
        "props": [
            {
                "p": "address",
                "v": "104",
                "vt": "num"
            },
            {
                "p": "command",
                "v": "26",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "a8ba9d31.9d0298"
            ]
        ]
    },
    {
        "id": "45ab9999.ced128",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "GYRO_CONFIG",
        "props": [
            {
                "p": "address",
                "v": "104",
                "vt": "num"
            },
            {
                "p": "command",
                "v": "27",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24",
        "payloadType": "str",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "a8ba9d31.9d0298"
            ]
        ]
    },
    {
        "id": "bbbbb959.025ff8",
        "type": "inject",
        "z": "2b63c03a.9ee408",
        "name": "INT_ENABLE",
        "props": [
            {
                "p": "address",
                "v": "104",
                "vt": "num"
            },
            {
                "p": "command",
                "v": "56",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "a8ba9d31.9d0298"
            ]
        ]
    },
    {
        "id": "886ece6.8b577b",
        "type": "debug",
        "z": "2b63c03a.9ee408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "533bb589.0b0dac",
        "type": "i2c in",
        "z": "96db35a6.7b3d08",
        "name": "",
        "busno": "1",
        "address": "107",
        "command": "28",
        "count": "6",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "c13e2fad.d2f958"
            ]
        ]
    },
    {
        "id": "e7daab59.b0beb",
        "type": "inject",
        "z": "96db35a6.7b3d08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "533bb589.0b0dac"
            ]
        ]
    },
    {
        "id": "c13e2fad.d2f958",
        "type": "debug",
        "z": "96db35a6.7b3d08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "cc3a2158.aee3a8",
        "type": "function",
        "z": "abd1a415.9ed76",
        "name": "parse number",
        "func": "\nlet base = 10\nconst input = msg[env.get('input-payload-property')]\nconst beginning = input.substring(0, 2)\nif (beginning === '0x') base = 16\nif (beginning === '0b') base = 2\n\nif (base === 10) \n    return {\n        ...msg, \n        [env.get('output-payload-property')]: parseInt(input, base),\n    }\n\nconst stringNumber = input.substring(2)\nnode.log(stringNumber)\nconst bitShiftLen = 32 - stringNumber.length * (base === 16 ? 4 : 1)\n\nconst parsedInput = parseInt(stringNumber, base) << bitShiftLen >> bitShiftLen\n\nreturn {...msg, [env.get('output-payload-property')]: parsedInput}\n\n/*\nlet base = 10\nconst input = msg[env.get('input-payload-property')]\nconst beginning = input.substring(0, 2)\nif (beginning === '0x') base = 16\nif (beginning === '0b') base = 2\n\nlet parsedInputString\nlet twoComplementBit = 0\n\nif (base === 10) parsedInputString = input\nelse if (base === 16) parsedInputString = input.substring(2)\nelse if (base === 2) {\n    twoComplementBit = input.substring(2,3)\n    parsedInputString = input.substring(3)\n}\n\nlet parsedInput = parseInt(parsedInputString, base)\nif (twoComplementBit) parsedInput -= 128 \n\nreturn {...msg, [env.get('output-payload-property')]: parsedInput}\n*/\n\n/*\nlet base = 10\nconst input = msg[env.get('input-payload-property')]\nconst beginning = input.substring(0, 2)\nif (beginning === '0x') base = 16\nif (beginning === '0b') base = 2\n\nlet parsedInputString\nif (base !== 10) \n    parsedInputString = input.substring(2)\n\nconst parsedInput = parseInt(parsedInputString, base)\n\nreturn {...msg, [env.get('output-payload-property')]: parsedInput}\n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f7779363.a43d48",
        "type": "debug",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "Set Registers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "71847283.4314e4",
        "type": "subflow:abd1a415.9ed76",
        "z": "a93591e4.a2ad88",
        "name": "cast value",
        "env": [],
        "x": 200,
        "y": 280,
        "wires": [
            [
                "6d7b0aa7.9ad894"
            ]
        ]
    },
    {
        "id": "916dd7a7.b1afa8",
        "type": "function",
        "z": "7aaeacc5.f1858c",
        "name": "choose",
        "func": "\nconst inputProp = msg[env.get('input-prop')]\nconst values = env.get('values')\nconst registerValueString = values[inputProp]\n\nreturn { \n    ...msg, \n    [env.get('output-prop')]: registerValueString\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6d7b0aa7.9ad894",
        "type": "subflow:7aaeacc5.f1858c",
        "z": "a93591e4.a2ad88",
        "name": "LSM9DS1 registers",
        "env": [
            {
                "name": "values",
                "value": "{\"ACT_THS\":\"0x04\",\"ACT_DUR\":\"0x05\",\"INT_GEN_CFG_XL\":\"0x06\",\"INT_GEN_THS_X_XL\":\"0x07\",\"INT_GEN_THS_Y_XL\":\"0x08\",\"INT_GEN_THS_Z_XL\":\"0x09\",\"INT_GEN_DUR_XL\":\"0x0A\",\"REFERENCE_G\":\"0x0B\",\"INT1_CTRL\":\"0x0C\",\"INT2_CTRL\":\"0x0D\",\"WHO_AM_I_XG\":\"0x0F\",\"CTRL_REG1_G\":\"0x10\",\"CTRL_REG2_G\":\"0x11\",\"CTRL_REG3_G\":\"0x12\",\"ORIENT_CFG_G\":\"0x13\",\"INT_GEN_SRC_G\":\"0x14\",\"OUT_TEMP_L\":\"0x15\",\"OUT_TEMP_H\":\"0x16\",\"STATUS_REG_0\":\"0x17\",\"OUT_X_G\":\"0x18\",\"OUT_X_L_G\":\"0x18\",\"OUT_X_H_G\":\"0x19\",\"OUT_Y_G\":\"0x1A\",\"OUT_Y_L_G\":\"0x1A\",\"OUT_Y_H_G\":\"0x1B\",\"OUT_Z_G\":\"0x1C\",\"OUT_Z_L_G\":\"0x1C\",\"OUT_Z_H_G\":\"0x1D\",\"CTRL_REG4\":\"0x1E\",\"CTRL_REG5_XL\":\"0x1F\",\"CTRL_REG6_XL\":\"0x20\",\"CTRL_REG7_XL\":\"0x21\",\"CTRL_REG8\":\"0x22\",\"CTRL_REG9\":\"0x23\",\"CTRL_REG10\":\"0x24\",\"INT_GEN_SRC_XL\":\"0x26\",\"STATUS_REG_1\":\"0x27\",\"OUT_X_XL\":\"0x28\",\"OUT_X_L_XL\":\"0x28\",\"OUT_X_H_XL\":\"0x29\",\"OUT_Y_XL\":\"0x2A\",\"OUT_Y_L_XL\":\"0x2A\",\"OUT_Y_H_XL\":\"0x2B\",\"OUT_Z_XL\":\"0x2C\",\"OUT_Z_L_XL\":\"0x2C\",\"OUT_Z_H_XL\":\"0x2D\",\"FIFO_CTRL\":\"0x2E\",\"FIFO_SRC\":\"0x2F\",\"INT_GEN_CFG_G\":\"0x30\",\"INT_GEN_THS_XH_G\":\"0x31\",\"INT_GEN_THS_XL_G\":\"0x32\",\"INT_GEN_THS_YH_G\":\"0x33\",\"INT_GEN_THS_YL_G\":\"0x34\",\"INT_GEN_THS_ZH_G\":\"0x35\",\"INT_GEN_THS_ZL_G\":\"0x36\",\"INT_GEN_DUR_G\":\"0x37\",\"OFFSET_X_REG_L_M\":\"0x05\",\"OFFSET_X_REG_H_M\":\"0x06\",\"OFFSET_Y_REG_L_M\":\"0x07\",\"OFFSET_Y_REG_H_M\":\"0x08\",\"OFFSET_Z_REG_L_M\":\"0x09\",\"OFFSET_Z_REG_H_M\":\"0x0A\",\"WHO_AM_I_M\":\"0x0F\",\"CTRL_REG1_M\":\"0x20\",\"CTRL_REG2_M\":\"0x21\",\"CTRL_REG3_M\":\"0x22\",\"CTRL_REG4_M\":\"0x23\",\"CTRL_REG5_M\":\"0x24\",\"STATUS_REG_M\":\"0x27\",\"OUT_X_M\":\"0x28\",\"OUT_X_L_M\":\"0x28\",\"OUT_X_H_M\":\"0x29\",\"OUT_Y_L_M\":\"0x2A\",\"OUT_Y_M\":\"0x2A\",\"OUT_Y_H_M\":\"0x2B\",\"OUT_Z_M\":\"0x2C\",\"OUT_Z_L_M\":\"0x2C\",\"OUT_Z_H_M\":\"0x2D\",\"INT_CFG_M\":\"0x30\",\"INT_SRC_M\":\"0x31\",\"INT_THS_M\":\"0x32\",\"INT_THS_L_M\":\"0x32\",\"INT_THS_H_M\":\"0x33\",\"WHO_AM_I_AG_RSP\":\"0x68\",\"WHO_AM_I_M_RSP\":\"0x3D\"}",
                "type": "json"
            }
        ],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "e14fb54c.0bb1d8"
            ]
        ]
    },
    {
        "id": "e14fb54c.0bb1d8",
        "type": "subflow:abd1a415.9ed76",
        "z": "a93591e4.a2ad88",
        "name": "cast reg. addr.",
        "env": [
            {
                "name": "input-payload-property",
                "value": "command",
                "type": "str"
            },
            {
                "name": "output-payload-property",
                "value": "command",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 360,
        "wires": [
            [
                "a096a939.170808"
            ]
        ]
    },
    {
        "id": "a096a939.170808",
        "type": "change",
        "z": "a93591e4.a2ad88",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "9e255bb9.2b8d78"
            ]
        ]
    },
    {
        "id": "9e255bb9.2b8d78",
        "type": "i2c out",
        "z": "a93591e4.a2ad88",
        "name": "",
        "busno": "1",
        "address": "",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "1",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "ec41f68a.5cbd2"
            ]
        ]
    },
    {
        "id": "67201c52.d110f4",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "Startup Registers Config",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CTRL_REG1_G\":\"0b00100000\",\"CTRL_REG5_XL\":\"0b00111000\",\"CTRL_REG6_XL\":\"0b00100000\",\"CTRL_REG7_XL\":\"0b00000000\"}",
        "payloadType": "json",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "b36047f.99d6038"
            ]
        ]
    },
    {
        "id": "5453dfb0.4cd1b8",
        "type": "split",
        "z": "a93591e4.a2ad88",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "24ce1579.f74012"
            ]
        ]
    },
    {
        "id": "ec41f68a.5cbd2",
        "type": "join",
        "z": "a93591e4.a2ad88",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 80,
        "wires": [
            [
                "11b8d412.1ce734"
            ]
        ]
    },
    {
        "id": "b36047f.99d6038",
        "type": "subflow:a93591e4.a2ad88",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "",
        "env": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "f7779363.a43d48"
            ]
        ]
    },
    {
        "id": "24ce1579.f74012",
        "type": "change",
        "z": "a93591e4.a2ad88",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "address",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "18fe5f7c.cf8f01"
            ]
        ]
    },
    {
        "id": "18fe5f7c.cf8f01",
        "type": "subflow:abd1a415.9ed76",
        "z": "a93591e4.a2ad88",
        "name": "cast address",
        "env": [
            {
                "name": "input-payload-property",
                "value": "address",
                "type": "str"
            },
            {
                "name": "output-payload-property",
                "value": "address",
                "type": "str"
            }
        ],
        "x": 490,
        "y": 200,
        "wires": [
            [
                "71847283.4314e4"
            ]
        ]
    },
    {
        "id": "11b8d412.1ce734",
        "type": "change",
        "z": "a93591e4.a2ad88",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "command",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "226135b7.a3367a",
        "type": "change",
        "z": "fcc2c371.8288b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "address",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "d9bc9185.a67308"
            ]
        ]
    },
    {
        "id": "d9bc9185.a67308",
        "type": "subflow:abd1a415.9ed76",
        "z": "fcc2c371.8288b8",
        "name": "cast address",
        "env": [
            {
                "name": "input-payload-property",
                "value": "address",
                "type": "str"
            },
            {
                "name": "output-payload-property",
                "value": "address",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "9c5deb82.85f62"
            ]
        ]
    },
    {
        "id": "9c5deb82.85f62",
        "type": "subflow:7aaeacc5.f1858c",
        "z": "fcc2c371.8288b8",
        "name": "LSM9DS1 registers",
        "env": [
            {
                "name": "values",
                "value": "{\"ACT_THS\":\"0x04\",\"ACT_DUR\":\"0x05\",\"INT_GEN_CFG_XL\":\"0x06\",\"INT_GEN_THS_X_XL\":\"0x07\",\"INT_GEN_THS_Y_XL\":\"0x08\",\"INT_GEN_THS_Z_XL\":\"0x09\",\"INT_GEN_DUR_XL\":\"0x0A\",\"REFERENCE_G\":\"0x0B\",\"INT1_CTRL\":\"0x0C\",\"INT2_CTRL\":\"0x0D\",\"WHO_AM_I_XG\":\"0x0F\",\"CTRL_REG1_G\":\"0x10\",\"CTRL_REG2_G\":\"0x11\",\"CTRL_REG3_G\":\"0x12\",\"ORIENT_CFG_G\":\"0x13\",\"INT_GEN_SRC_G\":\"0x14\",\"OUT_TEMP_L\":\"0x15\",\"OUT_TEMP_H\":\"0x16\",\"STATUS_REG_0\":\"0x17\",\"OUT_X_G\":\"0x18\",\"OUT_X_L_G\":\"0x18\",\"OUT_X_H_G\":\"0x19\",\"OUT_Y_G\":\"0x1A\",\"OUT_Y_L_G\":\"0x1A\",\"OUT_Y_H_G\":\"0x1B\",\"OUT_Z_G\":\"0x1C\",\"OUT_Z_L_G\":\"0x1C\",\"OUT_Z_H_G\":\"0x1D\",\"CTRL_REG4\":\"0x1E\",\"CTRL_REG5_XL\":\"0x1F\",\"CTRL_REG6_XL\":\"0x20\",\"CTRL_REG7_XL\":\"0x21\",\"CTRL_REG8\":\"0x22\",\"CTRL_REG9\":\"0x23\",\"CTRL_REG10\":\"0x24\",\"INT_GEN_SRC_XL\":\"0x26\",\"STATUS_REG_1\":\"0x27\",\"OUT_X_XL\":\"0x28\",\"OUT_X_L_XL\":\"0x28\",\"OUT_X_H_XL\":\"0x29\",\"OUT_Y_XL\":\"0x2A\",\"OUT_Y_L_XL\":\"0x2A\",\"OUT_Y_H_XL\":\"0x2B\",\"OUT_Z_XL\":\"0x2C\",\"OUT_Z_L_XL\":\"0x2C\",\"OUT_Z_H_XL\":\"0x2D\",\"FIFO_CTRL\":\"0x2E\",\"FIFO_SRC\":\"0x2F\",\"INT_GEN_CFG_G\":\"0x30\",\"INT_GEN_THS_XH_G\":\"0x31\",\"INT_GEN_THS_XL_G\":\"0x32\",\"INT_GEN_THS_YH_G\":\"0x33\",\"INT_GEN_THS_YL_G\":\"0x34\",\"INT_GEN_THS_ZH_G\":\"0x35\",\"INT_GEN_THS_ZL_G\":\"0x36\",\"INT_GEN_DUR_G\":\"0x37\",\"OFFSET_X_REG_L_M\":\"0x05\",\"OFFSET_X_REG_H_M\":\"0x06\",\"OFFSET_Y_REG_L_M\":\"0x07\",\"OFFSET_Y_REG_H_M\":\"0x08\",\"OFFSET_Z_REG_L_M\":\"0x09\",\"OFFSET_Z_REG_H_M\":\"0x0A\",\"WHO_AM_I_M\":\"0x0F\",\"CTRL_REG1_M\":\"0x20\",\"CTRL_REG2_M\":\"0x21\",\"CTRL_REG3_M\":\"0x22\",\"CTRL_REG4_M\":\"0x23\",\"CTRL_REG5_M\":\"0x24\",\"STATUS_REG_M\":\"0x27\",\"OUT_X_M\":\"0x28\",\"OUT_X_L_M\":\"0x28\",\"OUT_X_H_M\":\"0x29\",\"OUT_Y_L_M\":\"0x2A\",\"OUT_Y_M\":\"0x2A\",\"OUT_Y_H_M\":\"0x2B\",\"OUT_Z_M\":\"0x2C\",\"OUT_Z_L_M\":\"0x2C\",\"OUT_Z_H_M\":\"0x2D\",\"INT_CFG_M\":\"0x30\",\"INT_SRC_M\":\"0x31\",\"INT_THS_M\":\"0x32\",\"INT_THS_L_M\":\"0x32\",\"INT_THS_H_M\":\"0x33\",\"WHO_AM_I_AG_RSP\":\"0x68\",\"WHO_AM_I_M_RSP\":\"0x3D\"}",
                "type": "json"
            }
        ],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "807df8d3.c5d258"
            ]
        ]
    },
    {
        "id": "807df8d3.c5d258",
        "type": "subflow:abd1a415.9ed76",
        "z": "fcc2c371.8288b8",
        "name": "cast reg. addr.",
        "env": [
            {
                "name": "input-payload-property",
                "value": "command",
                "type": "str"
            },
            {
                "name": "output-payload-property",
                "value": "command",
                "type": "str"
            }
        ],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "210f6f7c.99b21"
            ]
        ]
    },
    {
        "id": "210f6f7c.99b21",
        "type": "change",
        "z": "fcc2c371.8288b8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "82c8a8d4.fe9c4"
            ]
        ]
    },
    {
        "id": "367930b8.f77ae",
        "type": "i2c in",
        "z": "fcc2c371.8288b8",
        "name": "i2c read 1",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "1",
        "x": 900,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "82c8a8d4.fe9c4",
        "type": "switch",
        "z": "fcc2c371.8288b8",
        "name": "required bytes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "367930b8.f77ae"
            ],
            [
                "ffbaeaeb.1137e8"
            ],
            [
                "3ff1a609.8313f2"
            ],
            [
                "135cb102.2806ef"
            ],
            [
                "82588df1.0d0598"
            ],
            [
                "ebaf90ce.cc69b"
            ]
        ]
    },
    {
        "id": "ffbaeaeb.1137e8",
        "type": "i2c in",
        "z": "fcc2c371.8288b8",
        "name": "i2c read 2",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "2",
        "x": 900,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3ff1a609.8313f2",
        "type": "i2c in",
        "z": "fcc2c371.8288b8",
        "name": "i2c read 3",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "3",
        "x": 900,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "135cb102.2806ef",
        "type": "i2c in",
        "z": "fcc2c371.8288b8",
        "name": "i2c read 4",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "4",
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "82588df1.0d0598",
        "type": "i2c in",
        "z": "fcc2c371.8288b8",
        "name": "i2c read 5",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "5",
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ebaf90ce.cc69b",
        "type": "i2c in",
        "z": "fcc2c371.8288b8",
        "name": "i2c read 6",
        "busno": "1",
        "address": "",
        "command": "",
        "count": "6",
        "x": 900,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c7c91484.e33a08",
        "type": "debug",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "Set Registers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "d401116f.08f3f8",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "Startup Registers Config",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CTRL_REG1_M\":\"0b11110000\",\"CTRL_REG2_M\":\"0b00000000\",\"CTRL_REG3_M\":\"0b00000000\",\"CTRL_REG4_M\":\"0b00001100\"}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "4b741266.1bc924"
            ]
        ]
    },
    {
        "id": "4b741266.1bc924",
        "type": "subflow:a93591e4.a2ad88",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "",
        "env": [
            {
                "name": "address",
                "value": "0x1e",
                "type": "str"
            }
        ],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "c7c91484.e33a08"
            ]
        ]
    },
    {
        "id": "aecf2739.87f948",
        "type": "split",
        "z": "192a6f2d.1a1be1",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "423abe32.7cbca"
            ]
        ]
    },
    {
        "id": "423abe32.7cbca",
        "type": "join",
        "z": "192a6f2d.1a1be1",
        "name": "",
        "mode": "custom",
        "build": "buffer",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "2b8676a4.0911c2"
            ]
        ]
    },
    {
        "id": "2b8676a4.0911c2",
        "type": "function",
        "z": "192a6f2d.1a1be1",
        "name": "",
        "func": "const buf = Buffer.from(msg.payload)\n\nreturn {\n    ...msg,\n    payload: buf.readInt16LE(0)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "232d0847.4f8a8"
            ]
        ]
    },
    {
        "id": "1092c7d0.5e31a",
        "type": "join",
        "z": "192a6f2d.1a1be1",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "232d0847.4f8a8",
        "type": "change",
        "z": "192a6f2d.1a1be1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$env('k') * payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 80,
        "wires": [
            [
                "1092c7d0.5e31a"
            ]
        ]
    },
    {
        "id": "4c501a73.6bf2b4",
        "type": "subflow:abd1a415.9ed76",
        "z": "760a8eba.ea5df8",
        "name": "",
        "env": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "b4945a50.cca0b8"
            ]
        ]
    },
    {
        "id": "c3b0d91e.5f0478",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1234",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "4c501a73.6bf2b4"
            ]
        ]
    },
    {
        "id": "b4945a50.cca0b8",
        "type": "debug",
        "z": "760a8eba.ea5df8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "813af046.daf478",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0xff",
        "payloadType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "4c501a73.6bf2b4"
            ]
        ]
    },
    {
        "id": "a49d277b.074c08",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0b11110000",
        "payloadType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "4c501a73.6bf2b4"
            ]
        ]
    },
    {
        "id": "388c9782.64252",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0b1",
        "payloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "4c501a73.6bf2b4"
            ]
        ]
    },
    {
        "id": "5690d0d7.43f3a",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "OUT_X_XL",
        "payload": "6",
        "payloadType": "str",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "df1aad15.5ad45"
            ]
        ]
    },
    {
        "id": "df1aad15.5ad45",
        "type": "subflow:fcc2c371.8288b8",
        "z": "760a8eba.ea5df8",
        "name": "read gyro/acc",
        "env": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "60c0d163.bf1aa"
            ]
        ]
    },
    {
        "id": "dba563ff.2b7d08",
        "type": "debug",
        "z": "760a8eba.ea5df8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "790e017c.dc86a8",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "OUT_X_G",
        "payload": "6",
        "payloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "a89351b.c5a6d3"
            ]
        ]
    },
    {
        "id": "9c15994c.df97f",
        "type": "subflow:fcc2c371.8288b8",
        "z": "760a8eba.ea5df8",
        "name": "read compass",
        "env": [
            {
                "name": "address",
                "value": "0x1e",
                "type": "str"
            }
        ],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "a64a6924.ec5268"
            ]
        ]
    },
    {
        "id": "de361d37.e95368",
        "type": "inject",
        "z": "760a8eba.ea5df8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "OUT_X_M",
        "payload": "6",
        "payloadType": "str",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "9c15994c.df97f"
            ]
        ]
    },
    {
        "id": "60c0d163.bf1aa",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "760a8eba.ea5df8",
        "name": "",
        "env": [
            {
                "name": "k",
                "value": "0.000061",
                "type": "num"
            }
        ],
        "x": 760,
        "y": 420,
        "wires": [
            [
                "dba563ff.2b7d08"
            ]
        ]
    },
    {
        "id": "a64a6924.ec5268",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "760a8eba.ea5df8",
        "name": "",
        "env": [
            {
                "name": "k",
                "value": "0.00014",
                "type": "num"
            }
        ],
        "x": 760,
        "y": 580,
        "wires": [
            [
                "dba563ff.2b7d08"
            ]
        ]
    },
    {
        "id": "a89351b.c5a6d3",
        "type": "subflow:fcc2c371.8288b8",
        "z": "760a8eba.ea5df8",
        "name": "read gyro/acc",
        "env": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "c23a7a16.d0b048"
            ]
        ]
    },
    {
        "id": "c23a7a16.d0b048",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "760a8eba.ea5df8",
        "name": "",
        "env": [
            {
                "name": "k",
                "value": "0.00875",
                "type": "num"
            }
        ],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "dba563ff.2b7d08"
            ]
        ]
    },
    {
        "id": "9ddbc63e.27dd88",
        "type": "subflow:fcc2c371.8288b8",
        "z": "f81b335d.1522c8",
        "name": "read gyro/acc",
        "env": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "d80d2ca0.3ed08"
            ]
        ]
    },
    {
        "id": "d80d2ca0.3ed08",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "f81b335d.1522c8",
        "name": "",
        "env": [
            {
                "name": "k",
                "value": "0.061",
                "type": "num"
            }
        ],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "cb524153.caa81"
            ]
        ]
    },
    {
        "id": "cb524153.caa81",
        "type": "change",
        "z": "f81b335d.1522c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.a",
                "pt": "msg",
                "to": "R",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.b",
                "pt": "msg",
                "to": "input",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "input",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "c8343eee.1dcf6"
            ]
        ]
    },
    {
        "id": "c8343eee.1dcf6",
        "type": "multiply",
        "z": "f81b335d.1522c8",
        "name": "",
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a7850002.47cba8",
        "type": "change",
        "z": "f81b335d.1522c8",
        "name": "read OUT_X_XL 6 bytes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OUT_X_XL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "9ddbc63e.27dd88"
            ]
        ]
    },
    {
        "id": "6b707f26.a56e2",
        "type": "subflow:fcc2c371.8288b8",
        "z": "cacc0328.73dd18",
        "name": "read gyro/acc",
        "env": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "b535cb9c.090348"
            ]
        ]
    },
    {
        "id": "b535cb9c.090348",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "cacc0328.73dd18",
        "name": "",
        "env": [],
        "x": 660,
        "y": 360,
        "wires": [
            [
                "1b5bd0db.59dd97"
            ]
        ]
    },
    {
        "id": "1b5bd0db.59dd97",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "a15ba0bf.35d8c",
                "5cb7f7dc.e707b"
            ]
        ]
    },
    {
        "id": "8709376d.f6a7d8",
        "type": "subflow:fcc2c371.8288b8",
        "z": "cacc0328.73dd18",
        "name": "read gyro/acc",
        "env": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "d7cf41d4.cf04d"
            ]
        ]
    },
    {
        "id": "d7cf41d4.cf04d",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "cacc0328.73dd18",
        "name": "",
        "env": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "1eb0c34a.0729bd"
            ]
        ]
    },
    {
        "id": "1eb0c34a.0729bd",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "a15ba0bf.35d8c"
            ]
        ]
    },
    {
        "id": "a15ba0bf.35d8c",
        "type": "join",
        "z": "cacc0328.73dd18",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "1cff33f4.5e6f3c"
            ]
        ]
    },
    {
        "id": "1cff33f4.5e6f3c",
        "type": "cross-product",
        "z": "cacc0328.73dd18",
        "name": "",
        "norm": true,
        "x": 1040,
        "y": 440,
        "wires": [
            [
                "edfb9443.93de78"
            ]
        ]
    },
    {
        "id": "5cb7f7dc.e707b",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "set Z-vector",
        "rules": [
            {
                "t": "set",
                "p": "Z-vector",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "z",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "y-calc",
                "pt": "msg",
                "to": "a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 400,
        "wires": [
            [
                "2a7b4b65.bdc10c",
                "201b5dbb.b67e2a"
            ]
        ]
    },
    {
        "id": "edfb9443.93de78",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "set X-vector",
        "rules": [
            {
                "t": "set",
                "p": "X-vector",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "x",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "y-calc",
                "pt": "msg",
                "to": "b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 440,
        "wires": [
            [
                "2a7b4b65.bdc10c",
                "adb93f4c.145e68"
            ]
        ]
    },
    {
        "id": "2a7b4b65.bdc10c",
        "type": "join",
        "z": "cacc0328.73dd18",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "y-calc",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1410,
        "y": 480,
        "wires": [
            [
                "5a2fc3df.3071ec"
            ]
        ]
    },
    {
        "id": "5a2fc3df.3071ec",
        "type": "cross-product",
        "z": "cacc0328.73dd18",
        "name": "",
        "norm": true,
        "x": 1460,
        "y": 520,
        "wires": [
            [
                "7ecb5232.5fddac"
            ]
        ]
    },
    {
        "id": "7ecb5232.5fddac",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "set Y-vector",
        "rules": [
            {
                "t": "set",
                "p": "Y-vector",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 480,
        "wires": [
            [
                "adb93f4c.145e68"
            ]
        ]
    },
    {
        "id": "adb93f4c.145e68",
        "type": "join",
        "z": "cacc0328.73dd18",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1830,
        "y": 420,
        "wires": [
            [
                "8c6ac5bf.0f74d8"
            ]
        ]
    },
    {
        "id": "8c6ac5bf.0f74d8",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[[payload.x], [payload.y], [payload.z]]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 660,
        "wires": [
            [
                "7366d868.11914"
            ]
        ]
    },
    {
        "id": "201b5dbb.b67e2a",
        "type": "normalize",
        "z": "cacc0328.73dd18",
        "name": "",
        "x": 1400,
        "y": 400,
        "wires": [
            [
                "adb93f4c.145e68"
            ]
        ]
    },
    {
        "id": "7366d868.11914",
        "type": "matrix-transpose",
        "z": "cacc0328.73dd18",
        "name": "",
        "x": 1590,
        "y": 720,
        "wires": [
            [
                "7626fecc.9adb5"
            ]
        ]
    },
    {
        "id": "7626fecc.9adb5",
        "type": "matrix-inverse",
        "z": "cacc0328.73dd18",
        "name": "",
        "x": 1680,
        "y": 780,
        "wires": [
            [
                "c7f63ced.1ff078"
            ]
        ]
    },
    {
        "id": "c7f63ced.1ff078",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "R",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c0522e3c.926b6",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "read OUT_X_XL 6 bytes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OUT_X_XL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "6b707f26.a56e2"
            ]
        ]
    },
    {
        "id": "82b4e57a.dc73c8",
        "type": "change",
        "z": "cacc0328.73dd18",
        "name": "read OUT_X_XL 6 bytes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OUT_X_XL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "8709376d.f6a7d8"
            ]
        ]
    },
    {
        "id": "a2604ac9.6edff",
        "type": "switch",
        "z": "cacc0328.73dd18",
        "name": "setup step",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "c0522e3c.926b6"
            ],
            [
                "82b4e57a.dc73c8"
            ]
        ]
    },
    {
        "id": "9825df7c.5695d8",
        "type": "function",
        "z": "cacc0328.73dd18",
        "name": "first/second step",
        "func": "const rollStep = (step) => step === 1 ? 2 : 1\n\nconst outputStep = context.get(\"nextStep\")\n\ncontext.set(\"nextStep\", rollStep(outputStep))\n\nreturn { step: outputStep };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nif (context.get(\"nextStep\") === undefined) {\n    context.set(\"nextStep\", 1)\n}",
        "finalize": "",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "a2604ac9.6edff"
            ]
        ]
    },
    {
        "id": "63e1a520.88a5bc",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Go!",
        "payloadType": "str",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "e8d0fc5a.9bfc08"
            ]
        ]
    },
    {
        "id": "e8d0fc5a.9bfc08",
        "type": "subflow:cacc0328.73dd18",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "b6966e25.c909c8"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "b6966e25.c909c8",
        "type": "debug",
        "z": "46529fa5.9f2f08",
        "g": "ccb45398.47508",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "fc1375b0.005c78",
        "type": "comment",
        "z": "cacc0328.73dd18",
        "name": "X vector",
        "info": "",
        "x": 1900,
        "y": 200,
        "wires": []
    },
    {
        "id": "c90608a.c2b96f8",
        "type": "comment",
        "z": "cacc0328.73dd18",
        "name": "Y vector",
        "info": "",
        "x": 1900,
        "y": 260,
        "wires": []
    },
    {
        "id": "998617c7.3f2ee",
        "type": "comment",
        "z": "cacc0328.73dd18",
        "name": "Z vector",
        "info": "",
        "x": 1900,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5576beb.e6de78",
        "type": "comment",
        "z": "cacc0328.73dd18",
        "name": "R matrix",
        "info": "",
        "x": 1860,
        "y": 960,
        "wires": []
    },
    {
        "id": "c6f4e1b.c4812a",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Accelerometer",
        "payloadType": "str",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "402e82f.f7fa67c"
            ]
        ]
    },
    {
        "id": "402e82f.f7fa67c",
        "type": "subflow:f81b335d.1522c8",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "env": [],
        "x": 550,
        "y": 460,
        "wires": [
            [
                "e8d67be2.4d7f38"
            ]
        ]
    },
    {
        "id": "e8d67be2.4d7f38",
        "type": "debug",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "b125818d.bdcdd8",
        "type": "subflow:fcc2c371.8288b8",
        "z": "62f0c87d.299df",
        "name": "read gyro/acc",
        "env": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "8d63bcde.c24ed"
            ]
        ]
    },
    {
        "id": "8d63bcde.c24ed",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "62f0c87d.299df",
        "name": "",
        "env": [
            {
                "name": "k",
                "value": "8.75",
                "type": "num"
            }
        ],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "b1252fb8.9a1ac8"
            ]
        ]
    },
    {
        "id": "b1252fb8.9a1ac8",
        "type": "change",
        "z": "62f0c87d.299df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.a",
                "pt": "msg",
                "to": "R",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.b",
                "pt": "msg",
                "to": "input",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "input",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "915d48d1.df2298"
            ]
        ]
    },
    {
        "id": "915d48d1.df2298",
        "type": "multiply",
        "z": "62f0c87d.299df",
        "name": "",
        "x": 920,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bc6ff645.639a2",
        "type": "change",
        "z": "62f0c87d.299df",
        "name": "read OUT_X_XL 6 bytes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OUT_X_G",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "b125818d.bdcdd8"
            ]
        ]
    },
    {
        "id": "b9877a8.9f95a88",
        "type": "debug",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "fae7d1a.14a28b",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Gyro",
        "payloadType": "str",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "b82cf081.6cef2"
            ]
        ]
    },
    {
        "id": "b82cf081.6cef2",
        "type": "subflow:62f0c87d.299df",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "b9877a8.9f95a88"
            ]
        ]
    },
    {
        "id": "c9fe3ae9.5de568",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Compass",
        "payloadType": "str",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "c846f185.0967d"
            ]
        ]
    },
    {
        "id": "8d8258f1.76449",
        "type": "debug",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "bbef4b98.e34cd",
        "type": "subflow:fcc2c371.8288b8",
        "z": "b0f0518d.0763d",
        "name": "read gyro/acc",
        "env": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "bf32140e.ed1f8"
            ]
        ]
    },
    {
        "id": "bf32140e.ed1f8",
        "type": "subflow:192a6f2d.1a1be1",
        "z": "b0f0518d.0763d",
        "name": "",
        "env": [
            {
                "name": "k",
                "value": "0.14",
                "type": "num"
            }
        ],
        "x": 640,
        "y": 120,
        "wires": [
            [
                "ad23f99f.ba51b8"
            ]
        ]
    },
    {
        "id": "ad23f99f.ba51b8",
        "type": "change",
        "z": "b0f0518d.0763d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.a",
                "pt": "msg",
                "to": "R",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.b",
                "pt": "msg",
                "to": "input",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "input",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "6941700.f3fd69"
            ]
        ]
    },
    {
        "id": "6941700.f3fd69",
        "type": "multiply",
        "z": "b0f0518d.0763d",
        "name": "",
        "transpose": false,
        "x": 960,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8c5181a6.91fa1",
        "type": "change",
        "z": "b0f0518d.0763d",
        "name": "read OUT_X_M 6 bytes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OUT_X_M",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "bbef4b98.e34cd"
            ]
        ]
    },
    {
        "id": "c846f185.0967d",
        "type": "subflow:b0f0518d.0763d",
        "z": "46529fa5.9f2f08",
        "g": "ed3500fd.720128",
        "name": "",
        "x": 560,
        "y": 580,
        "wires": [
            [
                "8d8258f1.76449"
            ]
        ]
    },
    {
        "id": "f2db88d1.3ce318",
        "type": "rpi-gpio out",
        "z": "46529fa5.9f2f08",
        "name": "ctrl",
        "pin": "38",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "778c7a25.e4a48c",
        "type": "rpi-gpio out",
        "z": "46529fa5.9f2f08",
        "name": "pwm",
        "pin": "40",
        "set": "",
        "level": "0",
        "freq": "100",
        "out": "pwm",
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "e75d3ba.d4e9ac8",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 470,
        "y": 900,
        "wires": [
            [
                "778c7a25.e4a48c"
            ]
        ]
    },
    {
        "id": "2441aadc.2dd376",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "778c7a25.e4a48c"
            ]
        ]
    },
    {
        "id": "85a61d67.fb15a8",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "778c7a25.e4a48c"
            ]
        ]
    },
    {
        "id": "b8dc66fd.4bc568",
        "type": "inject",
        "z": "46529fa5.9f2f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 470,
        "y": 800,
        "wires": [
            [
                "778c7a25.e4a48c"
            ]
        ]
    }
]