flows_raspberrypi.json
[{"id":"46529fa5.9f2f08","type":"tab","label":"SETUP","disabled":false,"info":""},{"id":"96db35a6.7b3d08","type":"tab","label":"LSM9DS1","disabled":false,"info":""},{"id":"2b63c03a.9ee408","type":"tab","label":"MPU6050","disabled":false,"info":""},{"id":"abd1a415.9ed76","type":"subflow","name":"str2num","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"cc3a2158.aee3a8"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"cc3a2158.aee3a8","port":0}]}],"env":[{"name":"input-payload-property","type":"str","value":"payload"},{"name":"output-payload-property","type":"str","value":"payload"}],"color":"#DEBD5C","inputLabels":["string"],"outputLabels":["decimal"],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"7aaeacc5.f1858c","type":"subflow","name":"choose","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"916dd7a7.b1afa8"}]}],"out":[{"x":660,"y":100,"wires":[{"id":"916dd7a7.b1afa8","port":0}]}],"env":[{"name":"input-prop","type":"str","value":"topic"},{"name":"output-prop","type":"str","value":"command"},{"name":"values","type":"json","value":"{\"EXAMPLE_KEY\":\"example-value\"}"}],"color":"#DEBD5C","icon":"font-awesome/fa-list"},{"id":"a93591e4.a2ad88","type":"subflow","name":"set LSM9DS1 registers","info":"","category":"","in":[{"x":240,"y":80,"wires":[{"id":"5453dfb0.4cd1b8"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"11b8d412.1ce734","port":0}]}],"env":[{"name":"address","type":"str","value":"0x6b"}],"color":"#DDAA99"},{"id":"fcc2c371.8288b8","type":"subflow","name":"read register","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"226135b7.a3367a"}]}],"out":[{"x":1080,"y":280,"wires":[{"id":"367930b8.f77ae","port":0},{"id":"ffbaeaeb.1137e8","port":0},{"id":"3ff1a609.8313f2","port":0},{"id":"135cb102.2806ef","port":0},{"id":"82588df1.0d0598","port":0},{"id":"ebaf90ce.cc69b","port":0}]}],"env":[{"name":"address","type":"str","value":"0x6b"}],"color":"#DDAA99"},{"id":"a3ff9dba.19ebd","type":"ui_tab","name":"Gyro Setup","icon":"dashboard","disabled":false,"hidden":false},{"id":"15c73bda.21351c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5cf4be28.7e7b","type":"debug","z":"2b63c03a.9ee408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"172088d2.b526d7","type":"inject","z":"2b63c03a.9ee408","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"read","payloadType":"str","x":180,"y":240,"wires":[["88661fb5.0be978"]]},{"id":"88661fb5.0be978","type":"i2c scan","z":"2b63c03a.9ee408","name":"","busno":"1","x":440,"y":240,"wires":[["5cf4be28.7e7b"],[]]},{"id":"4699e1f5.bad6a","type":"catch","z":"2b63c03a.9ee408","name":"","scope":null,"uncaught":false,"x":440,"y":360,"wires":[["629cc9e6.67d86"]]},{"id":"629cc9e6.67d86","type":"debug","z":"2b63c03a.9ee408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":360,"wires":[]},{"id":"25171d3.4883462","type":"i2c in","z":"2b63c03a.9ee408","name":"","busno":"1","address":"104","command":"67","count":"6","x":440,"y":520,"wires":[["27a16fbb.7bd5"]]},{"id":"27a16fbb.7bd5","type":"debug","z":"2b63c03a.9ee408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":520,"wires":[]},{"id":"22a5cfbd.426028","type":"inject","z":"2b63c03a.9ee408","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"read","payloadType":"str","x":170,"y":520,"wires":[["25171d3.4883462"]]},{"id":"a8ba9d31.9d0298","type":"i2c out","z":"2b63c03a.9ee408","name":"","busno":"1","address":"","command":"","payload":"payload","payloadType":"msg","count":"1","x":420,"y":640,"wires":[["886ece6.8b577b"]]},{"id":"27b72544.bf84ea","type":"inject","z":"2b63c03a.9ee408","name":"PWR_MGMT_1","props":[{"p":"address","v":"104","vt":"num"},{"p":"command","v":"107","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":180,"y":640,"wires":[["a8ba9d31.9d0298"]]},{"id":"9fb8b444.8d2708","type":"inject","z":"2b63c03a.9ee408","name":"SMPLRT_DIV","props":[{"p":"address","v":"104","vt":"num"},{"p":"command","v":"25","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":170,"y":680,"wires":[["a8ba9d31.9d0298"]]},{"id":"32c830.ee9397d","type":"inject","z":"2b63c03a.9ee408","name":"CONFIG","props":[{"p":"address","v":"104","vt":"num"},{"p":"command","v":"26","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":160,"y":720,"wires":[["a8ba9d31.9d0298"]]},{"id":"45ab9999.ced128","type":"inject","z":"2b63c03a.9ee408","name":"GYRO_CONFIG","props":[{"p":"address","v":"104","vt":"num"},{"p":"command","v":"27","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"24","payloadType":"str","x":180,"y":760,"wires":[["a8ba9d31.9d0298"]]},{"id":"bbbbb959.025ff8","type":"inject","z":"2b63c03a.9ee408","name":"INT_ENABLE","props":[{"p":"address","v":"104","vt":"num"},{"p":"command","v":"56","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":170,"y":800,"wires":[["a8ba9d31.9d0298"]]},{"id":"886ece6.8b577b","type":"debug","z":"2b63c03a.9ee408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":660,"wires":[]},{"id":"533bb589.0b0dac","type":"i2c in","z":"96db35a6.7b3d08","name":"","busno":"1","address":"107","command":"28","count":"6","x":590,"y":140,"wires":[["c13e2fad.d2f958"]]},{"id":"e7daab59.b0beb","type":"inject","z":"96db35a6.7b3d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":220,"wires":[["533bb589.0b0dac"]]},{"id":"c13e2fad.d2f958","type":"debug","z":"96db35a6.7b3d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":240,"wires":[]},{"id":"cc3a2158.aee3a8","type":"function","z":"abd1a415.9ed76","name":"parse number","func":"\nlet base = 10\nconst input = msg[env.get('input-payload-property')]\nconst beginning = input.substring(0, 2)\nif (beginning === '0x') base = 16\nif (beginning === '0b') base = 2\n\nif (base === 10) \n    return {\n        ...msg, \n        [env.get('output-payload-property')]: parseInt(input, base),\n    }\n\nconst stringNumber = input.substring(2)\nnode.log(stringNumber)\nconst bitShiftLen = 32 - stringNumber.length * (base === 16 ? 4 : 1)\n\nconst parsedInput = parseInt(stringNumber, base) << bitShiftLen >> bitShiftLen\n\nreturn {...msg, [env.get('output-payload-property')]: parsedInput}\n\n/*\nlet base = 10\nconst input = msg[env.get('input-payload-property')]\nconst beginning = input.substring(0, 2)\nif (beginning === '0x') base = 16\nif (beginning === '0b') base = 2\n\nlet parsedInputString\nlet twoComplementBit = 0\n\nif (base === 10) parsedInputString = input\nelse if (base === 16) parsedInputString = input.substring(2)\nelse if (base === 2) {\n    twoComplementBit = input.substring(2,3)\n    parsedInputString = input.substring(3)\n}\n\nlet parsedInput = parseInt(parsedInputString, base)\nif (twoComplementBit) parsedInput -= 128 \n\nreturn {...msg, [env.get('output-payload-property')]: parsedInput}\n*/\n\n/*\nlet base = 10\nconst input = msg[env.get('input-payload-property')]\nconst beginning = input.substring(0, 2)\nif (beginning === '0x') base = 16\nif (beginning === '0b') base = 2\n\nlet parsedInputString\nif (base !== 10) \n    parsedInputString = input.substring(2)\n\nconst parsedInput = parseInt(parsedInputString, base)\n\nreturn {...msg, [env.get('output-payload-property')]: parsedInput}\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":80,"wires":[[]]},{"id":"f7779363.a43d48","type":"debug","z":"46529fa5.9f2f08","name":"Set Registers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":140,"wires":[]},{"id":"71847283.4314e4","type":"subflow:abd1a415.9ed76","z":"a93591e4.a2ad88","name":"cast value","env":[],"x":200,"y":280,"wires":[["6d7b0aa7.9ad894"]]},{"id":"916dd7a7.b1afa8","type":"function","z":"7aaeacc5.f1858c","name":"choose","func":"\nconst inputProp = msg[env.get('input-prop')]\nconst values = env.get('values')\nconst registerValueString = values[inputProp]\n\nreturn { \n    ...msg, \n    [env.get('output-prop')]: registerValueString\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[[]]},{"id":"6d7b0aa7.9ad894","type":"subflow:7aaeacc5.f1858c","z":"a93591e4.a2ad88","name":"LSM9DS1 registers","env":[{"name":"values","value":"{\"ACT_THS\":\"0x04\",\"ACT_DUR\":\"0x05\",\"INT_GEN_CFG_XL\":\"0x06\",\"INT_GEN_THS_X_XL\":\"0x07\",\"INT_GEN_THS_Y_XL\":\"0x08\",\"INT_GEN_THS_Z_XL\":\"0x09\",\"INT_GEN_DUR_XL\":\"0x0A\",\"REFERENCE_G\":\"0x0B\",\"INT1_CTRL\":\"0x0C\",\"INT2_CTRL\":\"0x0D\",\"WHO_AM_I_XG\":\"0x0F\",\"CTRL_REG1_G\":\"0x10\",\"CTRL_REG2_G\":\"0x11\",\"CTRL_REG3_G\":\"0x12\",\"ORIENT_CFG_G\":\"0x13\",\"INT_GEN_SRC_G\":\"0x14\",\"OUT_TEMP_L\":\"0x15\",\"OUT_TEMP_H\":\"0x16\",\"STATUS_REG_0\":\"0x17\",\"OUT_X_G\":\"0x18\",\"OUT_X_L_G\":\"0x18\",\"OUT_X_H_G\":\"0x19\",\"OUT_Y_G\":\"0x1A\",\"OUT_Y_L_G\":\"0x1A\",\"OUT_Y_H_G\":\"0x1B\",\"OUT_Z_G\":\"0x1C\",\"OUT_Z_L_G\":\"0x1C\",\"OUT_Z_H_G\":\"0x1D\",\"CTRL_REG4\":\"0x1E\",\"CTRL_REG5_XL\":\"0x1F\",\"CTRL_REG6_XL\":\"0x20\",\"CTRL_REG7_XL\":\"0x21\",\"CTRL_REG8\":\"0x22\",\"CTRL_REG9\":\"0x23\",\"CTRL_REG10\":\"0x24\",\"INT_GEN_SRC_XL\":\"0x26\",\"STATUS_REG_1\":\"0x27\",\"OUT_X_XL\":\"0x28\",\"OUT_X_L_XL\":\"0x28\",\"OUT_X_H_XL\":\"0x29\",\"OUT_Y_XL\":\"0x2A\",\"OUT_Y_L_XL\":\"0x2A\",\"OUT_Y_H_XL\":\"0x2B\",\"OUT_Z_XL\":\"0x2C\",\"OUT_Z_L_XL\":\"0x2C\",\"OUT_Z_H_XL\":\"0x2D\",\"FIFO_CTRL\":\"0x2E\",\"FIFO_SRC\":\"0x2F\",\"INT_GEN_CFG_G\":\"0x30\",\"INT_GEN_THS_XH_G\":\"0x31\",\"INT_GEN_THS_XL_G\":\"0x32\",\"INT_GEN_THS_YH_G\":\"0x33\",\"INT_GEN_THS_YL_G\":\"0x34\",\"INT_GEN_THS_ZH_G\":\"0x35\",\"INT_GEN_THS_ZL_G\":\"0x36\",\"INT_GEN_DUR_G\":\"0x37\",\"OFFSET_X_REG_L_M\":\"0x05\",\"OFFSET_X_REG_H_M\":\"0x06\",\"OFFSET_Y_REG_L_M\":\"0x07\",\"OFFSET_Y_REG_H_M\":\"0x08\",\"OFFSET_Z_REG_L_M\":\"0x09\",\"OFFSET_Z_REG_H_M\":\"0x0A\",\"WHO_AM_I_M\":\"0x0F\",\"CTRL_REG1_M\":\"0x20\",\"CTRL_REG2_M\":\"0x21\",\"CTRL_REG3_M\":\"0x22\",\"CTRL_REG4_M\":\"0x23\",\"CTRL_REG5_M\":\"0x24\",\"STATUS_REG_M\":\"0x27\",\"OUT_X_M\":\"0x28\",\"OUT_X_L_M\":\"0x28\",\"OUT_X_H_M\":\"0x29\",\"OUT_Y_L_M\":\"0x2A\",\"OUT_Y_M\":\"0x2A\",\"OUT_Y_H_M\":\"0x2B\",\"OUT_Z_M\":\"0x2C\",\"OUT_Z_L_M\":\"0x2C\",\"OUT_Z_H_M\":\"0x2D\",\"INT_CFG_M\":\"0x30\",\"INT_SRC_M\":\"0x31\",\"INT_THS_M\":\"0x32\",\"INT_THS_L_M\":\"0x32\",\"INT_THS_H_M\":\"0x33\",\"WHO_AM_I_AG_RSP\":\"0x68\",\"WHO_AM_I_M_RSP\":\"0x3D\"}","type":"json"}],"x":470,"y":280,"wires":[["e14fb54c.0bb1d8"]]},{"id":"e14fb54c.0bb1d8","type":"subflow:abd1a415.9ed76","z":"a93591e4.a2ad88","name":"cast reg. addr.","env":[{"name":"input-payload-property","value":"command","type":"str"},{"name":"output-payload-property","value":"command","type":"str"}],"x":220,"y":360,"wires":[["a096a939.170808"]]},{"id":"a096a939.170808","type":"change","z":"a93591e4.a2ad88","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["9e255bb9.2b8d78"]]},{"id":"9e255bb9.2b8d78","type":"i2c out","z":"a93591e4.a2ad88","name":"","busno":"1","address":"","command":"","payload":"payload","payloadType":"msg","count":"1","x":690,"y":360,"wires":[["ec41f68a.5cbd2"]]},{"id":"67201c52.d110f4","type":"inject","z":"46529fa5.9f2f08","name":"Startup Registers Config","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CTRL_REG1_G\":\"0b00100000\",\"CTRL_REG5_XL\":\"0b00111000\",\"CTRL_REG6_XL\":\"0b00100000\",\"CTRL_REG7_XL\":\"0b00000000\"}","payloadType":"json","x":190,"y":140,"wires":[["b36047f.99d6038"]]},{"id":"5453dfb0.4cd1b8","type":"split","z":"a93591e4.a2ad88","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":370,"y":80,"wires":[["24ce1579.f74012"]]},{"id":"ec41f68a.5cbd2","type":"join","z":"a93591e4.a2ad88","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":80,"wires":[["11b8d412.1ce734"]]},{"id":"b36047f.99d6038","type":"subflow:a93591e4.a2ad88","z":"46529fa5.9f2f08","name":"","env":[],"x":590,"y":140,"wires":[["f7779363.a43d48"]]},{"id":"24ce1579.f74012","type":"change","z":"a93591e4.a2ad88","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":200,"wires":[["18fe5f7c.cf8f01"]]},{"id":"18fe5f7c.cf8f01","type":"subflow:abd1a415.9ed76","z":"a93591e4.a2ad88","name":"cast address","env":[{"name":"input-payload-property","value":"address","type":"str"},{"name":"output-payload-property","value":"address","type":"str"}],"x":490,"y":200,"wires":[["71847283.4314e4"]]},{"id":"11b8d412.1ce734","type":"change","z":"a93591e4.a2ad88","name":"","rules":[{"t":"delete","p":"command","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":80,"wires":[[]]},{"id":"68c5c8c0.ff5878","type":"inject","z":"96db35a6.7b3d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OUT_X_XL","payload":"6","payloadType":"str","x":310,"y":440,"wires":[["41e58375.87107c"]]},{"id":"226135b7.a3367a","type":"change","z":"fcc2c371.8288b8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":80,"wires":[["d9bc9185.a67308"]]},{"id":"d9bc9185.a67308","type":"subflow:abd1a415.9ed76","z":"fcc2c371.8288b8","name":"cast address","env":[{"name":"input-payload-property","value":"address","type":"str"},{"name":"output-payload-property","value":"address","type":"str"}],"x":230,"y":120,"wires":[["9c5deb82.85f62"]]},{"id":"9c5deb82.85f62","type":"subflow:7aaeacc5.f1858c","z":"fcc2c371.8288b8","name":"LSM9DS1 registers","env":[{"name":"values","value":"{\"ACT_THS\":\"0x04\",\"ACT_DUR\":\"0x05\",\"INT_GEN_CFG_XL\":\"0x06\",\"INT_GEN_THS_X_XL\":\"0x07\",\"INT_GEN_THS_Y_XL\":\"0x08\",\"INT_GEN_THS_Z_XL\":\"0x09\",\"INT_GEN_DUR_XL\":\"0x0A\",\"REFERENCE_G\":\"0x0B\",\"INT1_CTRL\":\"0x0C\",\"INT2_CTRL\":\"0x0D\",\"WHO_AM_I_XG\":\"0x0F\",\"CTRL_REG1_G\":\"0x10\",\"CTRL_REG2_G\":\"0x11\",\"CTRL_REG3_G\":\"0x12\",\"ORIENT_CFG_G\":\"0x13\",\"INT_GEN_SRC_G\":\"0x14\",\"OUT_TEMP_L\":\"0x15\",\"OUT_TEMP_H\":\"0x16\",\"STATUS_REG_0\":\"0x17\",\"OUT_X_G\":\"0x18\",\"OUT_X_L_G\":\"0x18\",\"OUT_X_H_G\":\"0x19\",\"OUT_Y_G\":\"0x1A\",\"OUT_Y_L_G\":\"0x1A\",\"OUT_Y_H_G\":\"0x1B\",\"OUT_Z_G\":\"0x1C\",\"OUT_Z_L_G\":\"0x1C\",\"OUT_Z_H_G\":\"0x1D\",\"CTRL_REG4\":\"0x1E\",\"CTRL_REG5_XL\":\"0x1F\",\"CTRL_REG6_XL\":\"0x20\",\"CTRL_REG7_XL\":\"0x21\",\"CTRL_REG8\":\"0x22\",\"CTRL_REG9\":\"0x23\",\"CTRL_REG10\":\"0x24\",\"INT_GEN_SRC_XL\":\"0x26\",\"STATUS_REG_1\":\"0x27\",\"OUT_X_XL\":\"0x28\",\"OUT_X_L_XL\":\"0x28\",\"OUT_X_H_XL\":\"0x29\",\"OUT_Y_XL\":\"0x2A\",\"OUT_Y_L_XL\":\"0x2A\",\"OUT_Y_H_XL\":\"0x2B\",\"OUT_Z_XL\":\"0x2C\",\"OUT_Z_L_XL\":\"0x2C\",\"OUT_Z_H_XL\":\"0x2D\",\"FIFO_CTRL\":\"0x2E\",\"FIFO_SRC\":\"0x2F\",\"INT_GEN_CFG_G\":\"0x30\",\"INT_GEN_THS_XH_G\":\"0x31\",\"INT_GEN_THS_XL_G\":\"0x32\",\"INT_GEN_THS_YH_G\":\"0x33\",\"INT_GEN_THS_YL_G\":\"0x34\",\"INT_GEN_THS_ZH_G\":\"0x35\",\"INT_GEN_THS_ZL_G\":\"0x36\",\"INT_GEN_DUR_G\":\"0x37\",\"OFFSET_X_REG_L_M\":\"0x05\",\"OFFSET_X_REG_H_M\":\"0x06\",\"OFFSET_Y_REG_L_M\":\"0x07\",\"OFFSET_Y_REG_H_M\":\"0x08\",\"OFFSET_Z_REG_L_M\":\"0x09\",\"OFFSET_Z_REG_H_M\":\"0x0A\",\"WHO_AM_I_M\":\"0x0F\",\"CTRL_REG1_M\":\"0x20\",\"CTRL_REG2_M\":\"0x21\",\"CTRL_REG3_M\":\"0x22\",\"CTRL_REG4_M\":\"0x23\",\"CTRL_REG5_M\":\"0x24\",\"STATUS_REG_M\":\"0x27\",\"OUT_X_M\":\"0x28\",\"OUT_X_L_M\":\"0x28\",\"OUT_X_H_M\":\"0x29\",\"OUT_Y_L_M\":\"0x2A\",\"OUT_Y_M\":\"0x2A\",\"OUT_Y_H_M\":\"0x2B\",\"OUT_Z_M\":\"0x2C\",\"OUT_Z_L_M\":\"0x2C\",\"OUT_Z_H_M\":\"0x2D\",\"INT_CFG_M\":\"0x30\",\"INT_SRC_M\":\"0x31\",\"INT_THS_M\":\"0x32\",\"INT_THS_L_M\":\"0x32\",\"INT_THS_H_M\":\"0x33\",\"WHO_AM_I_AG_RSP\":\"0x68\",\"WHO_AM_I_M_RSP\":\"0x3D\"}","type":"json"}],"x":310,"y":160,"wires":[["807df8d3.c5d258"]]},{"id":"807df8d3.c5d258","type":"subflow:abd1a415.9ed76","z":"fcc2c371.8288b8","name":"cast reg. addr.","env":[{"name":"input-payload-property","value":"command","type":"str"},{"name":"output-payload-property","value":"command","type":"str"}],"x":360,"y":200,"wires":[["210f6f7c.99b21"]]},{"id":"210f6f7c.99b21","type":"change","z":"fcc2c371.8288b8","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["82c8a8d4.fe9c4"]]},{"id":"367930b8.f77ae","type":"i2c in","z":"fcc2c371.8288b8","name":"i2c read 1","busno":"1","address":"","command":"","count":"1","x":900,"y":180,"wires":[[]]},{"id":"41e58375.87107c","type":"subflow:fcc2c371.8288b8","z":"96db35a6.7b3d08","name":"read gyro/acc","env":[],"x":580,"y":480,"wires":[["7566a5a3.eca2bc"]]},{"id":"82c8a8d4.fe9c4","type":"switch","z":"fcc2c371.8288b8","name":"required bytes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":640,"y":280,"wires":[["367930b8.f77ae"],["ffbaeaeb.1137e8"],["3ff1a609.8313f2"],["135cb102.2806ef"],["82588df1.0d0598"],["ebaf90ce.cc69b"]]},{"id":"ffbaeaeb.1137e8","type":"i2c in","z":"fcc2c371.8288b8","name":"i2c read 2","busno":"1","address":"","command":"","count":"2","x":900,"y":220,"wires":[[]]},{"id":"3ff1a609.8313f2","type":"i2c in","z":"fcc2c371.8288b8","name":"i2c read 3","busno":"1","address":"","command":"","count":"3","x":900,"y":260,"wires":[[]]},{"id":"135cb102.2806ef","type":"i2c in","z":"fcc2c371.8288b8","name":"i2c read 4","busno":"1","address":"","command":"","count":"4","x":900,"y":300,"wires":[[]]},{"id":"82588df1.0d0598","type":"i2c in","z":"fcc2c371.8288b8","name":"i2c read 5","busno":"1","address":"","command":"","count":"5","x":900,"y":340,"wires":[[]]},{"id":"ebaf90ce.cc69b","type":"i2c in","z":"fcc2c371.8288b8","name":"i2c read 6","busno":"1","address":"","command":"","count":"6","x":900,"y":380,"wires":[[]]},{"id":"7566a5a3.eca2bc","type":"debug","z":"96db35a6.7b3d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":480,"wires":[]},{"id":"604b5e83.4ea78","type":"inject","z":"96db35a6.7b3d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OUT_X_G","payload":"6","payloadType":"str","x":310,"y":520,"wires":[["41e58375.87107c"]]},{"id":"2e6de1ff.4a54ae","type":"subflow:fcc2c371.8288b8","z":"96db35a6.7b3d08","name":"read compass","env":[{"name":"address","value":"0x1e","type":"str"}],"x":590,"y":600,"wires":[["7566a5a3.eca2bc"]]},{"id":"f080af17.0139","type":"inject","z":"96db35a6.7b3d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OUT_X_M","payload":"6","payloadType":"str","x":310,"y":600,"wires":[["2e6de1ff.4a54ae"]]},{"id":"c7c91484.e33a08","type":"debug","z":"46529fa5.9f2f08","name":"Set Registers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":220,"wires":[]},{"id":"d401116f.08f3f8","type":"inject","z":"46529fa5.9f2f08","name":"Startup Registers Config","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"CTRL_REG1_M\":\"0b11110000\",\"CTRL_REG2_M\":\"0b00000000\",\"CTRL_REG3_M\":\"0b00000000\",\"CTRL_REG4_M\":\"0b00001100\"}","payloadType":"json","x":190,"y":220,"wires":[["4b741266.1bc924"]]},{"id":"4b741266.1bc924","type":"subflow:a93591e4.a2ad88","z":"46529fa5.9f2f08","name":"","env":[{"name":"address","value":"0x1e","type":"str"}],"x":590,"y":220,"wires":[["c7c91484.e33a08"]]},{"id":"c4b2a20f.7da5b","type":"subflow:abd1a415.9ed76","z":"46529fa5.9f2f08","name":"","env":[],"x":480,"y":460,"wires":[["afa18530.911518"]]},{"id":"64bf811f.bdd288","type":"inject","z":"46529fa5.9f2f08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1234","payloadType":"str","x":170,"y":420,"wires":[["c4b2a20f.7da5b"]]},{"id":"afa18530.911518","type":"debug","z":"46529fa5.9f2f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":440,"wires":[]},{"id":"1c85ec87.280a93","type":"inject","z":"46529fa5.9f2f08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0xff","payloadType":"str","x":170,"y":460,"wires":[["c4b2a20f.7da5b"]]},{"id":"5714675.254c518","type":"inject","z":"46529fa5.9f2f08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0b11110000","payloadType":"str","x":190,"y":500,"wires":[["c4b2a20f.7da5b"]]},{"id":"9caebbf2.c3fb08","type":"subflow:fcc2c371.8288b8","z":"96db35a6.7b3d08","name":"read compass conf","env":[{"name":"address","value":"0x1e","type":"str"}],"x":590,"y":680,"wires":[["7566a5a3.eca2bc"]]},{"id":"40fee375.a9cf0c","type":"inject","z":"96db35a6.7b3d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CTRL_REG1_M","payload":"1","payloadType":"str","x":320,"y":680,"wires":[["9caebbf2.c3fb08"]]},{"id":"b4dc3688.527768","type":"inject","z":"46529fa5.9f2f08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0b1","payloadType":"str","x":170,"y":540,"wires":[["c4b2a20f.7da5b"]]}]